.top{
  width: 1270px;
  height: 150px;
  background-color:rgba(192,192,192,0.3);
  margin-top: 0px;
  margin-left: -60px;


}
.body{
  background-image: url(splash.jpg);
  height: 900px;
}
.navs{
  margin-left: 400px;
}
.udaku{
  margin-left: -300px;
  padding-top: 10px;
}
.icons{
  margin-left: 300px;
}
.icon:hover{
  color: pink;
  background-color: white;
}
.
#story {
       display: none;
     }
.co{
  margin-top: 40px;
}
